.card-1 {
      background-color: rgb(114, 99, 232);
      height: 185px;   
      width: 260px;  
      font-weight: bolder;
      font-size: 15px;
      display: flex;
      border-radius: 10px;
      position: absolute;
      bottom: 500px;
      left: 50px;
    }

    .card-1 h2 {
      padding: 40px 90px;
    }

    .card-2 {
      background-color: rgb(114, 99, 232);
      height: 185px;
      width: 260px;
      font-weight: bolder;
      font-size: 15px;
      display: flex;
      border-radius: 10px;
      position: absolute;
      bottom: 500px;
      left: 350px;
    }

    .card-2 h2 {
      padding: 40px 90px;
    }

    .card-3 {
      background-color: rgb(114, 99, 232);
      height: 185px;
      width: 260px;
      font-weight: bolder;
      font-size: 15px;
      display: flex;
      border-radius: 10px;
      position: absolute;
      bottom: 500px;
      right: 355px;
    }

    .card-3 h2 {
      padding: 40px 65px;
      white-space: nowrap;
      
    }

    .card-4 {
      background-color: rgb(114, 99, 232);
      height: 185px;
      width: 260px;
      font-weight: bolder;
      font-size: 15px;
      display: flex;
      border-radius: 10px;
      position: absolute;
      bottom: 500px;
      right: 55px;
    }

    .card-4 h2 {
      padding: 40px 90px;
    }