  body {
    font-family: Poppins, sans-serif;
    max-width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
  }

  /* Navigation */
 .top-nav {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      gap: 20px;
      margin-top: 10px;
      justify-content: center;
      font-size: 1rem;
      color: white;
      padding-top: 20px;
      cursor: pointer;
    }

    .top-nav a {
      text-decoration: none;
      color: white;
    }

    .fa-caret-down {
      color: var(--bg-color);
      background: none;
    }

    .dropdown {
      position: relative;
      display: inline-block;
    }

    .dropdown-menu {
      display: none;
      position: absolute;
      left: 0;
      top: 40px;
      background: white;
      min-width: 250px;
      height: 360px;
      box-shadow: 0 5px 15px rgba(0,0,0,0.2);
      overflow: hidden;
    }

    .dropdown-menu a {
      display: block;
      padding: 10px;
      text-decoration: none;
      color: black;
      font-weight: bold;
      line-height: 18px;
      margin-top: 15px;
    }

    #toggle {
      display: none;
    }

    #toggle:checked ~ .dropdown-menu {
      display: block;
    }

    .dropdown-toggle {
      cursor: pointer;
    }

    .top-nav li:hover {
      text-decoration: underline;
      text-decoration-color: rgb(114, 99, 232);
      font-weight: bold;
      transition-duration: 1.5s;
    }

    .logo {
      width: 70px;
      position: absolute;
      top: 9px;
      left: 40px;
      cursor: pointer;
    }

    .header {
      font-size: 50px;
      color: rgb(114, 99, 232);
      display: flex;
      flex-wrap: wrap;
      padding: 80px;
      text-align: left;
      width: 70%;
      font-weight: bold;
    }

    .top-image {
      background: url(/images/slider-2.jpg) top no-repeat;
      width: 100%;
      position: relative;  
      object-fit: cover;
      height: 950px;
      margin-top: -10px;
    }

    .text-box {
      padding: 20px;
      width: 25%;
      position: relative;
      top: auto;
      left: 150px;
      border-radius: 6px;
    }

    .track-btn {
      background-image: linear-gradient(to right, #777770, #151515);
      padding: 15px 16px;
      position: absolute;
      top: 500px;
      border-radius: 8px;
      left: 450px;
      width: 20%;
      font-size: 14px;
      font-weight: bold;
      color: white;
      text-decoration: none;
    }
    
    
    .track-btn:hover {
      color: rgb(114, 99, 232);
    }

    /* cards row */

    .cards-container {
      display: flex;
      flex-direction: row;
      gap: 30px;
      margin-left: 50px;
      margin-top: 350px;
    }

    .card-1 h2,
    .card-2 h2,
     .card-4 h2  {
      padding: 40px 90px;
    }

    .card-3 h2 {
      padding: 40px 65px;
      white-space: nowrap;
    }

    .card-1,
    .card-2,
    .card-3,
    .card-4 {
      background-color: rgb(114, 99, 232);
      position: relative;
      height: 185px;   
      width: 260px;  
      font-weight: bolder;
      font-size: 15px;
      display: flex;
      border-radius: 10px;
    }


    .learn-more {
      position: absolute;
      align-self: center;
      left: 90px;
      top: 115px;
      color: white;
      opacity: 0;
    }

    .learn-more:hover {
      opacity: 1;
      cursor: pointer;
      color: white
    }
    /* First section ends here */


    /* Our Offer Section begins here */

    .offer-section {
      margin-top: 250px;
      position: relative;
    }
     .offer-header {
      font-size: 3em;
      text-align: center;
      font-weight: bold;
      padding-bottom: 60px;
    }

    .offer-container {
      display:flex;
      flex-wrap: wrap;
    }

    /*Storage Facility*/
    .storage-img {
      position: relative;
      width: 380px;
      height: 280px;
      margin-left: 17px;
    }

    .storage-card {
      position: absolute;
      top: 362px;
      left: 17px;
      background-color: rgb(114, 99, 232);
      color: white;
      padding: 12.8px 19.2px;
      font-weight: bold;
      cursor: pointer;
    }

     /*Maritime Cargo Transport*/
    .cargo-img {
     width: 380px;
     height: 280px;
     margin-left: 16px;
    }

    .cargo-card {
      position: absolute;
      top: 362px;
      left: 413px;
      background-color: rgb(114, 99, 232);
      color: white;
      padding: 12.8px 19.2px;
      font-weight: bold;
      cursor: pointer;
    }

     /*Air Cargo*/
    .air-cargo {
      width: 380px;
      height: 280px;
      margin-left: 16px;
    }

    .air-card {
      position: absolute;
      top: 362px;
      right: 340px;
      background-color: rgb(114, 99, 232);
      color: white;
      padding: 12.8px 19.2px;
      font-weight: bold;
      cursor: pointer;
    }

     /*Land Transport*/
    .land-trp {
      width: 380px;
      height: 280px;
      margin-left: 17px;
      cursor: pointer;
    }

    .land-card {
      position: absolute;
      bottom: 7px;
      left: 17px;
      background-color: rgb(114, 99, 232);
      color: white;
      padding: 12.8px 19.2px;
      font-weight: bold;
      cursor: pointer;
    }

     /*Separate Delivery*/
    .separate-del {
      width: 380px;
      height: 280px;
      margin-left: 16px;
    }

    .delivery-card {
      position: absolute;
      bottom: 7px;
      left: 414px;
      background-color: rgb(114, 99, 232);
      color: white;
      padding: 12.8px 19.2px;
      font-weight: bold;
      cursor: pointer;
    }

     /*Pet Transport*/
    .pet-trp {
      width: 380px;
      height: 280px;
      margin-left: 16px;
    }

    .pet-card {
      position: absolute;
      bottom: 7px;
      right: 310px;
      background-color: rgb(114, 99, 232);
      color: white;
      padding: 12.8px 19.2px;
      font-weight: bold;
      cursor: pointer;
    }

    .pet-card:hover,
    .storage-card:hover,
    .cargo-card:hover,
    .air-card:hover,
    .land-card:hover,
    .delivery-card:hover {
      background-color: black;
    }

    /* Our offer section ends here */


    /*Shipping Solutions section starts here*/

    .shipping-soln {
      position: relative;
      background-color: black;
      color: white;
      height: 650px;
      margin-top: 100px;
      width: auto;
      padding-bottom: 100px;
    }

    .shipping-soln h1 {
     justify-self: center;
     padding-top: 60px;
     font-size: 45px;
    }

    .ship-cargo {
      position: absolute;
      display: inline-block;
      left: 55px;
      top: 180px;
      width: 550px;
      height: 350px;

    }

    .img-caption {
      position: absolute;
      top: 500px;
      left: 55px;
      font-size: 18px;
      line-height: 22px;
      background-color: rgb(119, 119, 112);
      width: 510px;
      padding: 20px 20px;
    }

    .article {
      position: absolute;
      width: 550px;
      margin-left:640px;
      font-size: 19px;
      top: 160px;
      line-height: 27px;
      
    }

    .article p {
      color: rgb(119, 119, 112);
    }

    /* Shipping solutions section ends here */


    /* Objective section starts here */

    .obj-section {
      background-color: #777770;
      display: flex;
      padding-bottom: 140px;
    }

    .obj-img {
      margin-left: 70px;
      margin-top: 70px;
      width: 520px;
      height: 450px;
      border-radius: 6px;
    }

    .obj-text {
      width: 550px;
      font-size: 19px;
      margin-left: 75px;
      margin-top: 50px;
    }

    .obj-text h1 {
      line-height: 45px;
      color: white;
      padding-bottom: 23px;
    }

    .obj-text p {
      line-height: 27px;
      text-align: start;
    }

    .obj-text button {
      background-color: black;
      color: white;
      font-weight: bold;
      font-size: 15px;
      padding: 12px;
      cursor: pointer;
    }

    .obj-text button:hover {
      color: rgb(114, 99, 232);
    }

    /* Objective section endd here */

    /* Logistics Solutions Section begins here */
    .logistics-section {
      background-color:  rgb(114, 99, 232);
      padding-top: 50px;
      padding-bottom: 70px;
      padding-left: 50px;
      padding-right: 50px;
    }

    .logistics-section h2 {
      color: white;
      font-size: 40px;  
      text-align: center;
    }

     .sub-div {
      background-color: black;
      display: flex;
      padding: 50px;
    }

    .info-ready {
      color: white;
      font-size: 28px;
      font-weight: bold;
      width: 450px;
    }

    .icon-container {
      width: 530px;
    }

    .bxs-shopping-bags,
    .bx-male-female,
    .bx-building-house {
      font-size: 64px;
      color:  rgb(114, 99, 232);
    }

    .parcel,
    .client,
    .branch {
      color: white;
      margin-top: 0;
      margin-bottom: 0;
    }

    .parcel-desc,
    .client-desc,
    .branch-desc {
      color: #777770;
      line-height: 30px;
      margin-top: 9px;
    }

    .parcel-div {
      display: flex;
      gap: 20px;
      margin-top: 35px;
    }

    .parcel-content,
    .client-content,
    .branch-content {
      display: block;
    }

    .client-div,
    .branch-div {
      display: flex;
      gap: 20px;
      margin-top: 10px;
    }

    /* Form Container */

    .quote {
      color: #777770;
      font-size: 20px;
    }

    .form-div {
      margin-left: 75px;
      margin-top: 50px;
    }

    .text {
      width: 100%;
      padding: 10px;
      margin-bottom: 15px;
    }

    .sub-btn {
      background-color: rgb(114, 99, 232);
      color: white;
      font-size: 20px;
      padding: 8px 25px;
      border: none;
      border-radius: 10px;
      cursor: pointer;
    }

    .sub-btn:hover {
      background-color: white;
      color: rgb(114, 99, 232);
      font-weight: bold;
    }

  /* Logistics Solutions Section ends here */


  /* Map section begins here */

    .map-section {
    background-color: #777770;
    padding-top: 20px;
    padding-right: 60px;
    padding-bottom: 60px;
    padding-left: 60px;
  }

  .map-header {
    color: white;
    font-size: 45px;
  }

  .map-div {
    width: 100%;
    height: 500px;
    vertical-align: middle;
  }

  .map-div-container {
    display: flex;
    justify-content: center;
  }

/* Map section ends here */
  

/* Testimonials section begins here */

  .test-parent-div {
    background-color: black;
    padding: 30px;
  }

  .head-text {
    color: white;
    font-size: 40px;  
    text-align: center;
  }

   .test-sub-div {
    display: flex;
    justify-content: center;
    padding: 50px;
    }

  .comment-div {
    background-color: white;
    width: 350px;
    font-size: 15px;
    margin-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 55px;
    padding-left: 25px;
    border: none;
    border-radius: 10px;
    margin: 3px;
    text-align: start;
  }

  .comment-author {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 0;
  }

  .author-title {
    color: #777770;
    font-size: 14px;
    font-weight: bold;
    margin-top: 5px;
  }

/* Testimonial section ends here */


/* Insight section begins here */

  .ins-head-div {
    background-color: white;
    color: rgb(114, 99, 232);
    padding-top: 70px;
    padding-bottom: 70px;
    padding-left: 40px;
    font-size: 20px;
    font-weight: bolder;
  }

  .ins-text {
    background-color: #777770;
    color: white;
    display: flex;
    gap: 330px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 40px
  }

  .ship-btn {
    background-color: rgb(114, 99, 232);
    color: white;
    font-weight: bolder;
    font-size: 17px;
    border: none;
    border-radius: 7px;
    padding-left: 18px;
    padding-right: 18px;
    margin: 0;
   
    cursor: pointer;
  }

  .ins-text button:hover {
    background-color: #6d6d67;
  }
/* Insight section ends here */


/* Footnote setion begins here */

  .footnote-section {
    background-color: black;
    padding-top: 30px;
    padding-right: 100px;
    padding-left: 40px;
    font-size: small;
  }

  .ft-header {
    color: #777770;
    font-size: 30px;
  }

  .ft-p {
    color: white;
    display: block;
    width: 450px;
    margin-bottom: 30px;
  }

  .brands {
    display: flex;
    gap: 15px;
    margin-bottom: 30px;
  }


  .fa-facebook,
  .fa-twitter,
  .fa-instagram,
  .fa-linkedin {
    background-color: white;
    color: rgb(114, 99, 232);
    padding: 5px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
  }

  .fa-facebook:hover,
  .fa-twitter:hover,
  .fa-instagram:hover,
  .fa-linkedin:hover {
    color: black;
  }

  .foot-coln {
    display: flex;
  }

  .coln-1 {
    display: block;
    margin: 0;
  }

  .coln-1-h3 {
    display: block;
    color: #6d6d67;
  }

  .coln-1-ul {
    display: block;
    padding: 0;
  }
  .coln-line {
    display: list-item;
    list-style-type: none;
    margin: 0;
    margin-bottom: 10px;
    cursor: pointer;
    color: white;
    transition: none;
    line-height: 40px;
  }

  .coln-line:hover {
    text-decoration: none;
    color: #6d6d67;
  }

  .coln-2 {
    margin-left: 45px;
    display: block;

  }

  .coln-2-h3 {
    display: block;
    color: #6d6d67;
    margin-left: 40px;
  }

  .coln-3 {
    margin-left: 45px;
    display: block;
  }

  .coln-3-h3 {
    display: block;
    color: #6d6d67;
    margin-left: 40px;
  }

  .coln-3-p {
    display: block;
    list-style-type: none;
    margin: 0;
    margin-bottom: 10px;
    color: white;
    line-height: 40px;
    margin-left: 40px;
  }

  .coln-4-h3 {
    display: block;
    color: #6d6d67;
    margin-left: 40px;
  }

  .coln-4-p {
    display: block;
    list-style-type: none;
    margin: 0;
    margin-bottom: 10px;
    color: white;
    line-height: 40px;
    margin-left: 40px;
  }

  .email-text {
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 250px;
    margin-left: 40px;
    margin-bottom: 10px;
  }

  .fa-right-long {
    background-color: rgb(114, 99, 232);
    color: white;
    border: none;
    padding: 8px 23px;
    border-radius: 8px;
    position: absolute; 
    margin-left: -30px;
  }

  .fa-right-long:hover {
    background-color: rgb(12, 10, 10);
  }

  .copyright {
    color: white;
    text-align: center;
    margin-top: 130px;
  }


/* -------------------------------- */
  /* ABOUT US PAGE STARTS HERE */
/* -------------------------------- */


  .abt-us-image {
      background: url(/images/best-about-us-pages.jpg);
      background-position: top;
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%; 
      height: 480px;
      padding-top: 1px;
  }

  :root {
    --secondary-text-color: #6d6d67;
    --bg-color: rgb(114, 99, 232);
  }
  
   /* About Header Section ends here */


  /* About Cards section begins here */

  .intro-text {
    font-size: 18px;
    text-align:justify;
    max-width: 95%;
    margin-left: 60px;
    margin-top: 80px;
    line-height: 30px;
  }

  .welcome-text {
    color: var(--secondary-text-color);
    font-weight: bold;
  }

 
  .abt-card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 90%;
    justify-content: center;
    padding: 50px;
    gap: 20px;
  }

  .abt-card {
    background-color: var(--bg-color);
    width: 28%;
    margin: 10px;
    padding: 20px;
  }

  .abt-card p {
    color: white;
  }

  .choice-container {
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .warehouse-img {
    width: 100%;
    margin: 40px;
    margin-top: 0;
  }
  .warehouse-img img {
    width: 95%;
    height: auto;
    margin-left: 17px;
  }

  .choice-text > * {
    width: 92%;
    margin-top: 0;
    line-height: 34px;
  }

  .choice-text h2 {
    font-size: 31px;
  }

  /* About Cards section ends here */

  /* Adventure section starts here */

   .adv-section {
      background-color:rgb(236, 229, 229);
      display: flex;
      flex-wrap: wrap;
      padding-bottom: 100px;
      padding-top: 120px;
    }

    .adv-head {
      width: 100%;
      text-align: center;
      color: rgb(0, 0, 0);
      font-weight: bold;
    }

    .img-text-div {
      display: flex;
    }

    .adv-img {
      margin-left: 70px;
      margin-top: 70px;
      width: 40%;
      height: 450px;
      border-radius: 6px;
    }

    .adv-text {
      width: 60%;
      font-size: 19px;
      margin-left: 50px;
      margin-top: 50px;
    }
    
    #elite-span {
      font-size: x-large;
      color: var(--bg-color);
      font-weight: bolder;
    }

    .adv-text p {
      line-height: 40px;
      margin-right: 20px;
    }

    .adv-text button {
      background-color: var(--bg-color);
      color: white;
      font-weight: bold;
      font-size: 15px;
      padding: 14px 16px;
      border: none;
      border-radius: 8px;
      cursor: pointer;
    }

    .adv-text button:hover {
      background-color: rgb(0, 0, 0);
    }

/* -------------------------------- */
  /* SERVICES PAGE STARTS HERE */
/* -------------------------------- */

/* Air Freight page */

.air-freight-img {
      background: url(/images/shipping7.webp);
      background-position: top;
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%; 
      height: 600px;
      padding-top: 1px;
  }

  .freight-hd {
    text-align: center;
    margin-top: 15%;
    font-size: x-large;
  }

  /* First section ends here */

  /* Description section begins here */

  .freight-desc {
    width: 95%;
    margin-left: 10px;
    margin-top: 80px;
    line-height: 27px;
  }

  .freight-desc li {
    text-decoration: none;
    font-weight: normal;
  }

  .freight-desc p,
  .freight-desc h2 {
    margin-left: 40px;
  }

  .freight-desc h2 {
    font-size: xx-large;
  }

  /* Description section ends here */


  /* Freight Services section begins here */

  .frt-services-sect {
    background-color: black;
    padding-bottom: 70px;
    padding-top: 30px;
  }

  .frt-services-sect h2 {
    color: var(--secondary-text-color);
    text-align: center;
  }

  .frt-services-sect p {
    color: rgb(202, 202, 202);
    text-align: center;
  }

  .faqs-parent-container {
    display: flex;
  }

  .faqs-container,
  .faqs-img {
    width: 50%;
    
  }

  .faqs-img img {
    width: 87%;
    border-radius: 6px;
  }


  .faqs-drpdown {
    width: 85%;
    color: white;
    margin-left: 45px;
  }

  .faqs-div {
  }

  .faqs-sub-div {
    background-color: var(--bg-color);
    display: flex;
    position: relative;
    border: white solid 1px;
    margin-bottom: 12px;
  }

  .faqs-sub-div p {
    color: white;
    margin-left: 10px;
  }

  .faqs-btn {
    position: absolute;
    right: 0;
    height: 100%;
    width: 35px;
    font-size: 24px;
    cursor: pointer;
  }

/* Freight Services section ends here */


/* Prompt Delivery section begins here */

  .delv-section {
    padding: 60px 0;
  }

  .delv-container {
    display: flex;
    flex-direction: row;
    gap: 450px;
  }

  .delv-container h2 {
    margin-left: 80px;
    font-size: xx-large;
  }

  .delv-btn {
      background-color: var(--bg-color);
      color: white;
      font-weight: bold;
      border: none;
      border-radius: 8px;
      cursor: pointer;
    }

    .delv-btn:hover {
      background-color: var(--secondary-text-color);
    }

  /* Air Freight page ends here*/


  /* Ocean Freight page  begins here*/

    .ocean-freight {
      background: url(/images/shipping15.jpeg) top no-repeat;
      width: 100%;
      position: relative;  
      object-fit: cover;
      height: 600px;
      padding-top: 2px;
    }

    .ocean-freight-desc {
      width: 95%;
      margin-left: 10px;
      margin-top: 80px;
      line-height: 30px;
    }

    .ocean-freight-desc p,
    .ocean-freight-desc h2 {
      margin-left: 40px;
    }

    .ocean-freight-desc h2 {
      font-size: xx-large;
    }

    .ocean-faqs-img {
    width: 50%;
  }

    .ocean-faqs-img img {
    width: 87%;
    height: 105%;
    border-radius: 6px;
  }

  /* Ocean freight page ends here */


  /* Land Transport page begins here */

  .land-trp-img {
      background: url(/images/shipping11.png) top no-repeat;
      width: 100%;
      position: relative;  
      background-size: cover;
      height: 600px;
      padding-top: 2px;
    }

  .land-faqs-img {
    width: 50%;
  }

   .land-faqs-img img {
    width: 87%;
    height: 105%;
    border-radius: 6px;
  }

   /* Land Transport page ends here */


   /* Storage Facility Page begins here */

   .storage-facility-img {
      background: url(/images/shipping17.jpg) top no-repeat;
      width: 100%;
      position: relative;  
      background-size: cover;
      height: 600px;
      padding-top: 2px;
    }

    .storage-desc {
      width: 95%;
      margin-left: 10px;
      margin-top: 80px;
      line-height: 30px;
    }

    .storage-desc p,
    .storage-desc h2 {
      margin-left: 40px;
    }

    .storage-desc h2 {
      font-size: xx-large;
    }

    .facility-sect {
    background-color: black;
    padding-bottom: 70px;
    padding-top: 30px;
  }

  .facility-sect h2 {
    color: var(--secondary-text-color);
    text-align: center;
    font-size: xx-large;
  }

  .facility-sect p {
    color: rgb(202, 202, 202);
    text-align: center;
  }

  .storage-img-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .storage-img-container img {
    width: 30%;
    height: 300px;
    margin: 10px;
    border-radius: 8px;
  }



