
  /* Ocean Freight page  begins here*/

    .ocean-freight {
      background: url(/images/shipping15.jpeg) top no-repeat;
      width: 100%;
      position: relative;  
      object-fit: cover;
      height: 600px;
      padding-top: 2px;
    }

    .ocean-freight-desc {
      width: 95%;
      margin-left: 10px;
      margin-top: 80px;
      line-height: 30px;
    }

    .ocean-freight-desc p,
    .ocean-freight-desc h2 {
      margin-left: 40px;
    }

    .ocean-freight-desc h2 {
      font-size: xx-large;
    }

    .ocean-faqs-img {
    width: 50%;
  }

    .ocean-faqs-img img {
    width: 87%;
    height: 105%;
    border-radius: 6px;
  }

  /* Ocean freight page ends here */
