
   /* Pet Transport Page begins here */
   .pet-trp-img {
      background: url(/images/shipping22.jpg) top no-repeat;
      width: 100%;
      position: relative;  
      background-size: cover;
      height: 600px;
      padding-top: 2px;
    }

    /* Pet Transport Page ends here */
