

  /* Pet Transport Page begins here */
   .pet-trp-img {
      background: url(/images/shipping22.jpg) top no-repeat;
      width: 100%;
      position: relative;  
      background-size: cover;
      height: 600px;
      padding-top: 2px;
    }

     /* Description section begins here */

  .freight-desc {
    width: 95%;
    margin-left: 10px;
    margin-top: 80px;
    line-height: 27px;
  }

  .freight-desc li {
    text-decoration: none;
    font-weight: normal;
  }

  .freight-desc p,
  .freight-desc h2 {
    margin-left: 40px;
  }

  .freight-desc h2 {
    font-size: xx-large;
  }

  /* Description section ends here */

 
   .storage-facility-img {
      background: url(/images/shipping17.jpg) top no-repeat;
      width: 100%;
      position: relative;  
      background-size: cover;
      height: 600px;
      padding-top: 2px;
    }

    .freight-hd {
      text-align: center;
      margin-top: 15%;
      font-size: x-large;
    }

    .storage-desc {
      width: 95%;
      margin-left: 10px;
      margin-top: 80px;
      line-height: 30px;
    }

    .storage-desc p,
    .storage-desc h2 {
      margin-left: 40px;
    }

    .storage-desc h2 {
      font-size: xx-large;
    }

    .facility-sect {
      background-color: black;
      padding-bottom: 70px;
      padding-top: 30px;
  }

  .facility-sect h2 {
    color: var(--secondary-text-color);
    text-align: center;
    font-size: xx-large;
  }

  .facility-sect p {
    color: rgb(202, 202, 202);
    text-align: center;
  }

  .storage-img-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .storage-img-container img {
    width: 30%;
    height: 300px;
    margin: 10px;
    border-radius: 8px;
  }

/* Prompt Delivery section begins here */

  .delv-section {
    padding: 60px 0;
  }

  .delv-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20rem;
  }

  .delv-container h2 {
    margin-left: 80px;
    font-size: xx-large;
  }

  .delv-btn {
    background-color: var(--bg-color);
    padding: 12px 22px;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    }

    .delv-btn:hover {
      background-color: var(--secondary-text-color);
    }

    /* Pet Transport Page ends here */
