
/* -------------------------------- */
  /* ABOUT US PAGE STARTS HERE */
/* -------------------------------- */

  .abt-us-image {
      background: url(/images/best-about-us-pages.jpg);
      background-position: top;
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%; 
      height: 480px;
      padding-top: 1px;
  }

  :root {
    --secondary-text-color: #6d6d67;
    --bg-color: rgb(114, 99, 232);
  }
  
   /* About Header Section ends here */


  /* About Cards section begins here */

  .intro-text {
    font-size: 18px;
    text-align:justify;
    max-width: 95%;
    margin-left: 60px;
    margin-top: 80px;
    line-height: 30px;
  }

  .welcome-text {
    color: var(--secondary-text-color);
    font-weight: bold;
  }

 
  .abt-card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 90%;
    justify-content: center;
    padding: 50px;
    gap: 20px;
  }

  .abt-card {
    background-color: var(--bg-color);
    width: 28%;
    margin: 10px;
    padding: 20px;
  }

  .abt-card p {
    color: white;
  }

  .choice-container {
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .warehouse-img {
    width: 100%;
    margin: 40px;
    margin-top: 0;
  }
  .warehouse-img img {
    width: 95%;
    height: auto;
    margin-left: 17px;
  }

  .choice-text > * {
    width: 92%;
    margin-top: 0;
    line-height: 34px;
  }

  .choice-text h2 {
    font-size: 31px;
  }

  /* About Cards section ends here */

  /* Adventure section starts here */

   .adv-section {
      background-color:rgb(236, 229, 229);
      display: flex;
      flex-wrap: wrap;
      padding-bottom: 100px;
      padding-top: 120px;
    }

    .adv-head {
      width: 100%;
      text-align: center;
      color: rgb(0, 0, 0);
      font-weight: bold;
    }

    .img-text-div {
      display: flex;
    }

    .adv-img {
      margin-left: 70px;
      margin-top: 70px;
      width: 40%;
      height: 450px;
      border-radius: 6px;
    }

    .adv-text {
      width: 60%;
      font-size: 19px;
      margin-left: 50px;
      margin-top: 50px;
    }
    
    #elite-span {
      font-size: x-large;
      color: var(--bg-color);
      font-weight: bolder;
    }

    .adv-text p {
      line-height: 40px;
      margin-right: 20px;
    }

    .adv-text button {
      background-color: var(--bg-color);
      color: white;
      font-weight: bold;
      font-size: 15px;
      padding: 14px 16px;
      border: none;
      border-radius: 8px;
      cursor: pointer;
    }

    .adv-text button:hover {
      background-color: rgb(0, 0, 0);
    }
