  body {
    font-family: Poppins, sans-serif;
    max-width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
  }



  /* Navigation */
 .top-nav {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 20px;
    margin-top: 10px;
    justify-content: center;
    font-size: 1rem;
    color: white;
    padding-top: 20px;
    cursor: pointer;
    }

    .top-nav a {
      text-decoration: none;
      color: white;
    }

    .top-nav li:hover {
      text-decoration: underline;
      text-decoration-color: rgb(114, 99, 232);
      font-weight: bold;
      transition-duration: 1.5s;
    }

    
    .fa-caret-down {
      color: var(--bg-color);
      background: none;
    }

    .dropdown {
      position: relative;
      display: inline-block;
    }

    .dropdown-menu {
      display: none;
      position: absolute;
      left: 0;
      top: 40px;
      background: white;
      min-width: 250px;
      max-height: 360px;
      box-shadow: 0 5px 15px rgba(0,0,0,0.2);
      overflow: hidden;
    }

    .dropdown-menu a {
      display: block;
      padding: 10px;
      text-decoration: none;
      color: black;
      font-weight: bold;
      line-height: 18px;
      margin-top: 15px;
    }

    #toggle {
      display: none;
    }

    #toggle:checked ~ .dropdown-menu {
      display: block;
    }

    .dropdown-toggle {
      cursor: pointer;
    }


    .logo {
      width: 4rem;
      position: absolute;
      top: 9px;
      left: 40px;
      cursor: pointer;
    }


/* -------------------------------- */
  /* CONTACT PAGE STARTS HERE */
/* -------------------------------- */

.form-section {
  background-color: var(--bg-color);
  color: white;
  box-sizing: border-box;
  padding: 50px;
}

.mail-div {
  display: flex;
}

.mail-sub {
  width: 45%;
}

.mail-sub p {
  width: 90%;
  color: #b5b5b3;
}

.mail-sub a {
  text-decoration: none;
  color:  #b5b5b3;
}

.hd-div {
  text-align: center;
  font-size: x-large;
  margin: 40px 0;
}

/* Contact Form */

.contact-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 15px;
}


.contact-form label {
  font-size: 1.3rem;
  color: white;
}

input,
textarea {
  padding: 20px;
  border: none;
  font-size: 1rem;
}

textarea {
  min-width: 250px;
  min-height: 150px;
  resize: both;
}

.field-text {
  display: flex;
  flex-direction: column;
  grid-column: span 2;
  gap: 15px;
}

.checkbox {
  grid-column: span 2;
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 1.1rem;
  cursor: default;
  margin: 0;
}

input[type="checkbox"] {
  width: 23px;
  height: 23px;
  accent-color: #1a6db1;
}

.cont-btn {
  background-color: black;
  color: var(--bg-color);
  border: none;
  border-radius: 8px;
  padding: 12px;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
}

.cont-btn:hover {
  background-color: var(--secondary-text-color);
}

.cont-btn a {
  text-decoration: none;
}