
/* Footnote setion begins here */

  .footnote-section {
    background-color: black;
    padding-top: 30px;
    padding-right: 100px;
    padding-left: 40px;
    font-size: small;
  }

  .ft-header {
    color: #777770;
    font-size: 30px;
  }

  .ft-p {
    color: white;
    display: block;
    width: 450px;
    margin-bottom: 30px;
  }

  .brands {
    display: flex;
    gap: 15px;
    margin-bottom: 30px;
  }


  .fa-facebook,
  .fa-twitter,
  .fa-instagram,
  .fa-linkedin {
    background-color: white;
    color: rgb(114, 99, 232);
    padding: 5px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
  }

  .fa-facebook:hover,
  .fa-twitter:hover,
  .fa-instagram:hover,
  .fa-linkedin:hover {
    color: black;
  }

  .foot-coln {
    display: flex;
  }

  .coln-1 {
    display: block;
    margin: 0;
  }

  .coln-1-h3 {
    display: block;
    color: #6d6d67;
  }

  .coln-1-ul {
    display: block;
    padding: 0;
  }
  .coln-line {
    display: list-item;
    list-style-type: none;
    margin: 0;
    margin-bottom: 10px;
    cursor: pointer;
    color: white;
    transition: none;
    line-height: 40px;
  }

  .coln-line:hover {
    text-decoration: none;
    color: #6d6d67;
  }

  .coln-2 {
    margin-left: 45px;
    display: block;

  }

  .coln-2-h3 {
    display: block;
    color: #6d6d67;
    margin-left: 40px;
  }

  .coln-3 {
    margin-left: 45px;
    display: block;
  }

  .coln-3-h3 {
    display: block;
    color: #6d6d67;
    margin-left: 40px;
  }

  .coln-3-p {
    display: block;
    list-style-type: none;
    margin: 0;
    margin-bottom: 10px;
    color: white;
    line-height: 40px;
    margin-left: 40px;
  }

  .coln-4-h3 {
    display: block;
    color: #6d6d67;
    margin-left: 40px;
  }

  .coln-4-p {
    display: block;
    list-style-type: none;
    margin: 0;
    margin-bottom: 10px;
    color: white;
    line-height: 40px;
    margin-left: 40px;
  }

  .email-text {
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 250px;
    margin-left: 40px;
    margin-bottom: 10px;
  }

  .fa-right-long {
    background-color: rgb(114, 99, 232);
    color: white;
    border: none;
    padding: 8px 23px;
    border-radius: 8px;
    position: absolute; 
    margin-left: -30px;
  }

  .fa-right-long:hover {
    background-color: rgb(12, 10, 10);
  }

  .copyright {
    color: white;
    text-align: center;
    margin-top: 130px;
  }

  .chat-btn {
    position: fixed;
    align-items: center;
    right: 2rem;
    bottom: 1.87rem;
    background-color: #1278e0;
    display: flex;
    gap: 9px;
    font-size: 15px;
    width: 7em;
    height: 3.6em;
    padding: 15px;
    border: none;
    border-radius: 25px;
    z-index: 1000;
    cursor: pointer;
  }

  .chat-btn:hover {
    background-color: #0080ff;
  }

  .chat-btn:hover .fa-comment {
    transform: scale(1.05);
  }

  .widget-text {
    color: white;
    font-size: 16px;
  }

  .fa-comment {
    background-color: #0080ff;
    padding: 6px;
    color: rgb(255, 255, 255);
    border-radius: 20px;
    font-size: 29px;
  }

  .online-badge {
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: 9999px;
    border: 2px solid white;
    padding: 0.4rem;
    background-color: rgb(74, 222, 128);
  }
