  body {
    font-family: Poppins, sans-serif;
    max-width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
  }



  /* Navigation */
 .top-nav {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 20px;
    margin-top: 10px;
    justify-content: center;
    font-size: 1rem;
    color: white;
    padding-top: 20px;
    cursor: pointer;
    }

    .top-nav a {
      text-decoration: none;
      color: white;
    }

    .top-nav li:hover {
      text-decoration: underline;
      text-decoration-color: rgb(114, 99, 232);
      font-weight: bold;
      transition-duration: 1.5s;
    }

    
    .fa-caret-down {
      color: var(--bg-color);
      background: none;
    }

    .dropdown {
      position: relative;
      display: inline-block;
    }

    .dropdown-menu {
      display: none;
      position: absolute;
      left: 0;
      top: 40px;
      background: white;
      min-width: 250px;
      max-height: 360px;
      box-shadow: 0 5px 15px rgba(0,0,0,0.2);
      overflow: hidden;
    }

    .dropdown-menu a {
      display: block;
      padding: 10px;
      text-decoration: none;
      color: black;
      font-weight: bold;
      line-height: 18px;
      margin-top: 15px;
    }

    #toggle {
      display: none;
    }

    #toggle:checked ~ .dropdown-menu {
      display: block;
    }

    .dropdown-toggle {
      cursor: pointer;
    }


    .logo {
      width: 4rem;
      position: absolute;
      top: 9px;
      left: 40px;
      cursor: pointer;
    }

     :root {
      --secondary-text-color: #6d6d67;
      --bg-color: rgb(114, 99, 232);
    }