@media (max-width: 768px) {

  .top-nav {
    display: none;
  }

  .logo {
    position: relative;
    width: 10%;
  }

  .logo-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .mobile-menu {
    width: 6%;
    padding: 1em;
    cursor: pointer;
  }

  .top-nav {
    position: fixed;
    z-index: 999;
    width: 66%;
    right: 0;
    top: 0;
    background: var(--bg-color);
    height: 100vh;
    padding: 10.4em 1em 1em;
  }

  .top-nav li {
    font-size: 1.2em;
    margin-top: 2.6em;
    text-align: left;
    margin-left: 2em;
  }

  .fa-caret-down {
    background-color: rgb(249, 248, 248);
  }

  .mobile-menu-exit {
    float: right;
    margin: .5em;
    cursor: pointer;
  }

  .top-nav.menu-btn {
    display: block;
}
}

@media only screen and (min-width: 768px) {

    .mobile-menu, .mobile-menu-exit {
        display: none;
    }
  }