.faq-answer {
  display: none;
  text-align: left;
  border: 1px solid white;
  margin-top: -15px;
  color: rgb(105, 103, 103);
}

.faq-answer p {
  font-size: 16px;
}

.faq-answer.show {
  display: block;
}

.faqs-div p {
  text-align: left;
  margin-left: 20px;
  margin-right: 16px;
}